* {
  box-sizing: border-box;
  font-family: Helvetica;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.75em;
}

.p1 {
	position: relative;
  border: 1px solid black;
  background-color: #CED8F6;
  height: 160px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  overflow: auto;
}

.p2 {
	position: absolute;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	width: 120px;
	font-weight: bold;
	font-size: 1.25em;
	text-align: center;
	top:0;
	right:0;
}

#first {
	background-color: #DA81F5;
}

#second {
	background-color: #8181F7;
}

#third {
	background-color: #81BEF7;
}

@media (min-width: 992px) {
  .col-lg {
    float: left;
  }
  .col-lg {
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2 {
		float: left;
	}
	.col-md-1 {
		width: 50%;
	}
	.col-md-2 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm {
	float: left;
}
	.col-sm {
		width:100%;
	}
}